<div class="jumbotron">
	<div class="container">
		<h2>학회비 때문에 생긴 모든 고민들을 털어놓아요</h2><br>
		<p> 무작정 걷어가는 고액의 학회비<br>
				같이 고민하고 해결해 봐요<br>
				귀찮다고 무섭다고 눈감지 마요<br>
				모이고 모이면 뿌리 뽑을수 있어요<br></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>학교별 학회비</h2>
			<p>자신의 학교 학회비를 공유해주세요. 학교별 학과별 학회비를 볼 수 있어요</p>
		</div>
		<div class="col-md-4">
			<h2>고발합니다</h2>
			<p>학회비로 생긴 고민들을 털어놓아요. 같이 해결해가요</p>
		</div>
		<div class="col-md-4">
			<h2>이렇게 해결했어요</h2>
			<p>학회비로 생긴 문제들을 해결했다면 어떻게 해결했는지 공유해요.
				많은 학생들이 도움을 받을 수 있어요.</p>
		</div>
	</div>
</div>
