<br><br><br>

<div class="container">
	<h2><%= @posts.title %></h2>
	<p><%= @posts.content %></p>
	<br>
	<% if session[:user_id] == @posts.user_id %>
		<a href="/posts/now_post_edit/<%= @posts.id %>">수정</a> 
		<a href="/posts/now_post_delete/<%= @posts.id %>">삭제</a>
	<% end %>
</div>
