<div class="container">
<form action="/posts/wirte_post_complete" method="post">
	title<br>
	<input type="text" name="title">
	content
	<textarea name="content"></textarea>
	<input type="submit" value="write">
</form>
</div>
