<div>
<h4><a href="/">우리 학교 학회비를 고발합니다</a> || <a href="/posts/intro">소개></a> || <a href="#">학교별 학회비</a> || <a href="/posts/now_post">고발해요</a> || <a href="/posts/after_post">이렇게 해결했어요</a>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">우리 학교 학회비를 고발합니다</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/posts/intro">소개</a></li>
            <li><a href="#about">학교별 학회비</a></li>
						<li><a href="/posts/now_post">고발해요</a>
						<li><a href="/posts/after_post">이렇게 해결했어요</a>
            <li><a href="#contact">Contact</a></li>
          </ul>
					<ul class="nav navbar-nav navbar-right">
					  <li><a href="#">Sign Up</a></li>
					  <li><a href="#">Login</a></li>
					</ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
